
@mixin wrap ($width){
    max-width: $width;
    margin: 0 auto;
}

@mixin size ($width, $height) {
    width: $width;
    height: $height;
}

@mixin fonts ($size, $lHeight, $weight: 400, $style: normal ) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    line-height: $lHeight;
}


@mixin media-laptop {
   @media (max-width: $content-width) { @content; }
}

@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
    @media (max-width: $mobile-big-width) { @content; }
}

@mixin media-mobileSmall {
    @media (max-width: $mobile-small-width) { @content; }
}