.burger__menu {
    display: none;
    position: relative;
    overflow: hidden;
    z-index: 100;
    cursor: pointer;
    @include size(30px, 25px);
    @include media-tablet {
        display: inline-block;
    }

    .burger__line {
        display: block;
        width: 100%;
        height: 3px;
        background-color: $burger-color;
        position: absolute;
        transition: .3s linear;
        top: 50%; margin-top: -1.5px;
        left: 50%; margin-left: -15px;
        &::before,
        &::after {
            content: '';
            @extend .burger__line;
        }
        &::before {
            transform: translateY(10px);
        }
        &::after {
            transform: translateY(-10px);
        }
    }
    &--cross {
        .burger__line {
            height: 0;

            &::before {
                transform: rotate(45deg)
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
}