.strategies {
    padding-top: 30px;

    &__title {
        margin-bottom: 14px;
    }
    &__description {
        @include fonts(1.6rem, 1.6);
        margin-bottom: 24px;
    }
    &__title,
    &__description {
        text-align: center;
    }
    &__tabs {
        margin-bottom: 31px;
        @include media-tablet {
            justify-content: center;
        }
        .tab {
            cursor: pointer;
        }

        .tab + .tab {
            margin-left: 7px;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1%;
    }
}

.strategy__card {
    margin: 0 1% 2%;
    width: calc(100% / 3 - 2%);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    @extend %transition;
    @extend %shadowed;
    &--long {
        width: 64.6%;
    }
    &:hover {
        box-shadow: none;
        .strategy__title {
            color: $primary-color;
        }
    }
    @include media-tablet {
        width: calc(100% / 2 - 2%);
    }
    @include media-mobile {
        width: calc(100% / 1 - 2%);
        margin-bottom: 4%;
    }
    &--hidden {
        transition: .3s ease-in-out;
        opacity: 0;
        transform: scale(0);
    }
    &--none {
        display: none;
    }
}

.strategy__img {
    overflow: hidden;
    img {
        display: block;
        width: 100%;
        @include media-tablet {
            width: auto;
        }
    }
}

.strategy__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 33px;
}

.strategy__title {
    @extend %transition;
    margin-bottom: 30px;
}

.strategy__tabs {
    margin-top: auto;
    .tab + .tab {
        margin-left: 4px;
    }
}
