.footer {
    padding: 60px 0 70px;

    .f-container {
        display: flex;
    }
    
    &__navigation {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
    }
    &__navigation__title {
        margin-bottom: 15px;
    }
    .navigation__item + .navigation__item {
        margin-top: 15px;
    }
}