
@mixin wrap ($width){
    max-width: $width;
    margin: 0 auto;
    padding: 0 15px;
}

@mixin size ($width, $height) {
    width: $width;
    height: $height;
}

@mixin fonts ($size, $lHeight, $weight: 400, $style: normal ) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    line-height: $lHeight;
}
