.button {
    border: none;
    background-color: transparent;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    color:  $btn-color;
    text-transform: capitalize;
     transition: .15s linear;

    &--boundary {
        border: 1px solid $btn-secondary-color;

        &:hover {
            background-color: $btn-secondary-color;
        }
    }

    &--colored {
        background-color: $bg-btn-color;
        color: $bg-color;

        &:hover {
            opacity: .7;
        }
    }
}
